*.iml
.gradle/
.gradle-user-home/
.android-user-home/
.toolchain/
.tmp/
build/
captures/
.externalNativeBuild/
.cxx/
local.properties
keystore.properties
.release/
*.jks
*.keystore
*.p12
*.apk
!download/*.apk
*.aab
.idea/
.DS_Store
